name: Auto Release Exe

on:
  push:
    tags:
      - 'v*' # Kịch bản chạy khi có tag bắt đầu bằng v (vd: v1.0.0)

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Publish Single File
      # Lệnh đóng gói thành 1 file exe duy nhất
      run: dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true --self-contained true -o ./publish_output

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./publish_output/UBCS2-A.exe # Tên file exe sẽ được tung lên mạng
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}